@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body,
header,
footer {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img, iframe {
    border: 2px ;
    border-color: #42345f;
    border-radius: 15px;
    border-style: groove;
}

.body-layout {
    display: grid;
    grid-template-rows:1fr auto;
}

.button {
    text-decoration-line: none !important;
}

.font-style-title {
    font-size: x-large;
    text-align: center;
    color: #7585ff;
}

.font-style-text {
    font-size: larger;
    text-align: justify;
    color: #7585ff;
    text-shadow: 0px -5px 6px black;
    max-width: 60%;
}


.button-align {
    display: flex;
    gap: 4px;
}

.button-text-shadow {
    text-shadow: 0px -5px 6px black;
}

.title-shadow {
    text-shadow: 0px -5px 6px black;
}

.header-styling {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.page-title {
    font-size: x-large;
    color: #7585ff;
    padding-left: 5px;
}

.fit-image {
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 5px 2px black;
}

.centered-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-bottom: 15px;
    background: linear-gradient(90deg, rgba(29, 28, 66, 1) 0%, rgba(47, 47, 135, 1) 50%, rgba(29, 28, 66, 1) 100%);
    mask-image: linear-gradient(to bottom, #7585ff 60%, transparent 100%);
}

.edge-transparency {
    mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%),
        linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    mask-composite: intersect;
}

.image-size {
    width: 265px;
    padding-bottom: 5px;
}

.center-page-content {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-card {
    background-color: #0d1c31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 55%;

    background: linear-gradient(45deg, #42345f, #0d1c31, #08242e, #42345f);
    background-size: 300% 300%;
    animation: gradient 60s;
    animation-duration: infinite;

    border: 3px inset #7585ff;
    box-shadow: 5px 5px 20px 2px black;

    padding: 15px;
    
    margin-bottom: 20px;

    overflow-x: hidden;
}

.rounding-corners {
    border-radius: 15px;
}


.button {
    font-size: x-large;
}

.icon-style {
    margin-right: 5px;
}

.icon-style:hover {
    text-decoration: none !important;
}

.datetime {
    display: flex;
    color: #7585ff;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.5;
    margin-right: 5px;
}

.datetime .time {
    font-size: 10px;
}

.datetime .date {
    font-size: 8px;
    color: #888;
}

.datetime .tz {
    font-size: 7px;
    color: #aaa;
}

.mobile-menu {
    display: none;
    padding-bottom: 10px;
}

.bobbing-text {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.bobbing-text:hover {
    transform: translateY(-3px);
}

.footer-layout {
    font-size: xx-large; 
    padding-top: 20px;
    text-align: center;
    background: linear-gradient(90deg, rgba(29, 28, 66, 1) 0%, rgba(47, 47, 135, 1) 50%, rgba(29, 28, 66, 1) 100%);
    mask-image: linear-gradient(to top, #7585ff 60%, transparent 100%);
}

@media (max-width:768px) {
    .centered-header {
        display: none;
    }

    .mobile-menu {
        display: block;
        background: linear-gradient(90deg, rgba(29, 28, 66, 1) 0%, rgba(47, 47, 135, 1) 50%, rgba(29, 28, 66, 1) 100%);
        mask-image: linear-gradient(to bottom, #7585ff 60%, transparent 100%);
    }

    .project-card {
        width: 80%;
    }

    .font-style-text {
        font-size: large;
        max-width: 90%;
    }

    .page-title {
        text-align: center;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-styling {
        background: transparent;
        box-shadow: none;
        padding: 0px;
    }

    .dropdown:hover .dropdown-content {
        display: inline-block;
    }

    .mobile-menu:has(.dropdown:hover) {
        mask-image: linear-gradient(to bottom, #7585ff 80%, transparent 100%);
    }
}

html {
    background: linear-gradient(180deg, #24183d, #152d4e, #0c3a4b, #180747);
    background-position: fixed;
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    animation-direction: alternate;
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}