@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body,
header,
footer {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    text-decoration-line: none !important;
}


.button-align {
    display: flex;
    gap: 4px;
}

.button-text-shadow {
    text-shadow: 0px -5px 6px black;   
}

.title-shadow {
    text-shadow: 0px -5px 6px black;
}

.header-styling {
    background: linear-gradient(90deg,rgba(29, 28, 66, 1) 0%, rgba(47, 47, 135, 1) 50%, rgba(29, 28, 66, 1) 100%);
    -webkit-mask-image: linear-gradient(to bottom, #7585ff 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, #7585ff 60%, transparent 100%);
}

.page-title {
    font-size: x-large;
    color: #7585ff;
    padding-left: 5px;
}

.centered-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-bottom: 15px;
}

.button {
    font-size: x-large;
}

.icon-style {
    margin-right: 5px;
}

.icon-style:hover {
    text-decoration: none !important;
}

.datetime {
    display: flex;
    color: #7585ff;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.5;
    margin-right: 5px;
}

.datetime .time {
    font-size: 10px;
}

.datetime .date {
    font-size: 8px;
    color: #888;
}

.datetime .tz {
    font-size: 7px;
    color: #aaa;
}

.mobile-menu {
    display:none;
    padding-bottom: 10px;
}

@media (max-width:768px) {
    .centered-header {
        display: none;
    }
}

@media (max-width:768px) {
    .mobile-menu {
        display: block;
    }

    .page-title {
        text-align: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: sticky;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropdown:hover .header-styling{
        -webkit-mask-image: linear-gradient(to bottom, #7585ff 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, #7585ff 90%, transparent 100%);
    }

}

body {
	background: linear-gradient(-45deg, #150d25, #0d1c31, #08242e, #083329);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}