@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body,
header,
footer {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-align {
    display: flex;
    gap: 4px;
}

.centered-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.button {
    font-size: x-large;
}

.icon-style {
    margin-right: 5px;
}

.icon-style:hover {
    text-decoration: none !important;
}

.datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.5;
    margin-right: 5px;
}

.datetime .time {
    font-size: 10px;
}

.datetime .date {
    font-size: 8px;
    color: #888;
}

.datetime .tz {
    font-size: 7px;
    color: #aaa;
}